html {
    scroll-behavior: smooth;
  }

body{
    background: #1b1b1c;
}

*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-track {
	background: #333333;      
}

*::-webkit-scrollbar-thumb {
	background: #969696;
	border-radius: 30px; 
}

*::-webkit-scrollbar-thumb:hover {
	background: #747474;
}

.container{
    display: flex;
    animation: fadeIn 1s linear;
}

@keyframes fadeIn {
    from{ opacity: 0;
    }
    to{ opacity: 1; 
    }
}

.content{
    width: 100%;
    height: 100%;
    
}