.navbar{
    display: flex;
    height: 10%;
    width: 100%;
    align-items: center;
    background-image: linear-gradient(#303030, #1b1b1c);
    position: fixed;
    z-index: 2;
}

.navbar-website{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navbar-website a{
    all: unset;
    display: flex;
    align-items: center;
    color: #c2c2c2;
    font-size: 1.5em;
    height: 8vh;
}

.navbar-website a{
    transition: .3s;
}

.navbar-website a:hover{
    color: #6f268b;
    cursor: pointer;
}